<ion-header>

</ion-header>

<ion-content>
    
    <!-- Refresher component -->
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content color="primary"
      refreshingSpinner="lines"
      ></ion-refresher-content>
    </ion-refresher>

    <!-- Division to report no data -->
    <div *ngIf="noDataRecord">
      <h3 center >No trash location reported</h3>
      <ion-list>
        
      </ion-list>
    </div>
    
    <!--  Google maps -->
    <div id='map_canvas'>

    </div>

</ion-content>
